@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navigation img{
    width: 10em;
    margin-left: 52px;
}
header nav{
padding: 8px;
margin-bottom: 40px;
}
body{
    height: auto;
    max-width: 1440px;
    background-image: url(./images/bg-desktop.svg);
    background-color:hsl(257, 40%, 49%) ;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

/* contains the figure and the section */
main{
    height: auto;
    display:flex;
    justify-content: center;
    margin: 20px 10px 0px10px;
    flex-direction: row;
}
/* contains the description and the social icons */
section{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 40px  40px 0px;
}
/* site description */
article h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    line-height: 2em;
    font-size: 27px;
}
article p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400px;
    line-height: 30px;
}
article button{
    margin-top: 2em;
    padding: 8px 30px;
    border-radius: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color:hsl(257, 40%, 49%) ;
}
button:hover{
    background-color:hsl(300, 69%, 71%) ;
    color:#fff;
}
/* social links */
div.socials{
    display: flex;
    justify-content: flex-end;
    color:#fff;
    margin-right: 6em;
}
a.href{
    display: flex;
    margin: 0px 15px 0px ;
    border: 1px solid #fff;
    padding: 6
    px;
    border-radius:50%;
    height: 35px;
    width: 35px;
    color:#fff;
    justify-content: center;
    align-items: center;
}
a.href:hover{
    border:1px solid hsl(300, 69%, 71%);
    color:hsl(300, 69%, 71%);
}
p.attribution{
    margin-top:10px;
    margin-left: 20em;
}
p.attribution a{
    color:hsl(300, 69%, 71%);
}
footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 375px) {
   
    div.container{
        flex: 100%;
        max-width: 100%;
        /* flex-direction: column; */
        justify-items:center;
        padding: 50px;
        width: 100vw;
        flex-wrap: wrap;
    } 
    .illustration img{
        width:80vw;
    }
     main{
        flex: 100%;
        max-width:100%;
        /* flex-direction: column; */
        justify-self: center;
        align-items: center;
    } 
    section{
        flex: 100%;
        max-width:100%;
        /* flex-direction: column; */
        justify-self: center;
        align-items: center;
    }
     article{
        flex: 100%;
        max-width:100%;
        /* flex-direction: column; */
        justify-content: justify ;
        text-align: center;
    }
    footer{
        flex:100%;
        max-width:100%;
        justify-content: center;
        align-items: center;

    }

    
   
    
    
}
